<h1>New Query</h1>

<%= render 'form' %>

  <div class="wikipedia">
  <%= form_for @query do |f| %>
    <%= f.label :entity, "Entity"%>
    <%= f.hidden_field :id %>
    <%= f.text_field :entity, placeholder: "Something" %><br>

    <%= f.submit "Search", class: "btn btn-default btn-sm" %><br>
  <% end %>
  </div>
  
  <div class="twitter"></div>
<%= link_to 'Back', queries_path %>
<!-- initializers/twitter.rb
$twitter_client = Twitter::REST::Client.new do |config|
 config.consumer_key = ENV['TWITTER_CONSUMER_KEY']
 config.consumer_secret = ENV['TWITTER_SECRET_KEY']
 config.access_token = ENV['TWITTER_ACCESS_TOKEN']
 config.access_token_secret = ENV['TWITTER_ACCESS_SECRET']
end  -->